celery
Django
django-celery-beat
django-celery-results
django-cors-headers
django-environ
django-timezone-field
djangorestframework
djangorestframework-simplejwt
Pillow
psycopg2
pyotp
python-crontab
python-dateutil
redis
requests
six
sqlparse
typing_extensions
urllib3
vine
wcwidth
gunicorn
cloudinary
django-cloudinary-storage